@use "styles/common" as *;
@use "styles/variables" as *;

.Details {
    @extend .flexColumn;
    @media (min-width: 768px) and (max-width: 1105px) {
        display: none;
    }

    & > div {
        @extend .withGreyBorder;
        width: 100%;
        &:last-of-type {
            height: 100%;
        }
    }
    &__header {
        @extend .flexColumn;
        padding-top: 30px;
    }

    &__informations,
    &__files {
        @extend .flexColumn;
        & .header {
            @extend .flexRow;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;

            & svg {
                @extend .svg;
            }

            & h2 {
                @extend .upperCase;
                @extend .withGreyText;
                font-size: 14px;
            }
        }

        & .content {
            @extend .flexColumn;
            padding-bottom: 30px;
            width: 100%;
        }
    }
    &__files {
        padding-bottom: 40px;
        & ul {
            @extend .flexColumn;
            list-style: disc inside;
            color: var(--main-nav-bg-color);
            width: 75%;
            align-items: flex-start;

            & li {
                padding: 14px 0 0 0;
            }
        }
        & a {
            text-decoration: none;
            position: relative;
            margin-left: 18px;
        }
    }
}
