@use "styles/variables" as *;
@use "styles/common" as *;

.chat--input {
    @extend .flexRow;
    justify-content: space-between;

    & .buttons {
        & svg {
            width: 20px;
            height: 20px;
            padding-left: 4px;
            padding-right: 4px;
        }
    }
}

.Chat__input {
    height: var(--users-search-wrapper-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--secondary-bg-color);
    margin-top: 16px;
    padding-left: 30px;

    &:hover {
        background-color: var(--secondary-bg-color);
    }

    & input {
        @extend .clickable;
        padding: 6px;
        padding-left: 14px;
        flex-grow: 1;
        width: 100%;
        background: none;
        border: none;
        outline: none;
        height: var(--users-search-height);
        background-color: var(--main-bg-color);
        border-radius: 30px;
    }

    & .buttons {
        @extend .flexRow;
        padding-right: 14px;

        & .button-usual {
            & svg {
                width: 20px;
                height: 20px;
                padding-left: 4px;
                padding-right: 4px;
                box-sizing: initial;
            }
            &:last-of-type {
                & svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
