@use "styles/common" as *;
@use "styles/variables" as *;
@use "styles/mixins" as *;

.message {
    @extend .flexRowVerticallyCentered;
    padding-top: 20px;
    &--user {
        justify-content: flex-start;
    }
    &--host {
        justify-content: flex-end;
    }
    &--sender {
        @extend .flexColumn;
        padding: 0 20px;
    }

    & .baloon {
        padding: 12px;
        border-radius: 8px;
        max-width: 50%;
        word-wrap: break-word;
        margin-top: -15px;

        &-host {
            background-color: var(--host-baloon-color);
            position: relative;
            &:after {
                position: absolute;
                z-index: 3;
                display: block;
                top: 15px;
                right: -10px;
                width: 10px;
                height: 10px;
                margin-bottom: -4px;
                content: "";
                background-color: var(--host-baloon-color);
                transform: translate(-50%, 0) rotate(45deg);
                transition: transform 0.2s ease-out;
                pointer-events: none;
            }
        }
        &-user {
            background-color: var(--user-baloon-color);
            position: relative;
            &:after {
                position: absolute;
                z-index: 3;
                display: block;
                top: 15px;
                left: 0;
                width: 10px;
                height: 10px;
                margin-bottom: -4px;
                content: "";
                background-color: var(--user-baloon-color);
                transform: translate(-50%, 0) rotate(45deg);
                transition: transform 0.2s ease-out;
                pointer-events: none;
            }
        }
    }
    &:last-of-type {
        padding-bottom: 40px;
    }
}
