@use "styles/common" as *;
@use "styles/variables" as *;

.Details-notebook {
    @extend .flexColumn;
    @media (min-width: 768px) and (max-width: 1105px) {
        margin-left: calc(var(--nav-width) + var(--scrollbar-width));
        flex-direction: row;
        align-items: flex-start;
    }

    & > div {
        width: 100%;
        &:last-of-type {
            height: 100%;
        }
    }
}

.Details {
    @extend .flexColumn;
    @media (min-width: 768px) and (max-width: 1105px) {
        display: none;
    }

    & > div {
        @extend .withGreyBorder;
        width: 100%;
        &:last-of-type {
            height: 100%;
        }
    }
}
