@use "styles/variables" as *;
@use "styles/mixins" as *;
@use "styles/common" as *;

.Users {
    background-color: var(--secondary-bg-color);

    @include mobile {
        margin-left: unset;
        width: 100%;
    }
    & > .details {
        @extend .clickable;
        padding: var(--large-padding);
        background-color: var(--secondary-bg-color);
        border-bottom: 1px dotted var(--main-text-color);
        position: relative;
        & .image-wrapper {
            position: relative;
            & svg {
                position: absolute;
                top: -5px;
                right: -10px;
                width: 15px;
                height: 15px;
                fill: var(--blue-text-color);
            }
            &.online {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 15%;
                    right: 0%;
                    width: 12px;
                    height: 12px;
                    background-color: #8dd7a6;
                    border-radius: 6px;
                }
            }
        }

        &.active {
            background-color: var(--main-bg-color);
            &::after {
                position: absolute;
                top: 0;
                display: block;
                width: 10px;
                height: 100%;
                right: 0;
                background-color: var(--blue-text-color);
                content: "";
            }
        }
        &:hover img {
            transform: scale(1.1);
        }

        & > .content {
            display: flex;
            justify-content: start;
            position: relative;
            align-items: center;
            & .text--content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-left: 12px;
                height: 40px;
                & h2 {
                    font-weight: 800;
                }
                & .last--message {
                    @extend .cut-string240;
                    color: var(--main-text-color);
                }
            }
            .last-comment {
                @extend .flexRowVerticallyCentered;
                right: 0;
                position: absolute;
                width: 70px;
                height: 30px;
                background-color: var(--main-bg-color);
                border-radius: 30px;
                padding: 6px;
                color: var(--main-text-color);
                font-size: 12px;
            }
        }
    }
}
