@use "styles/variables" as *;
@use "styles/mixins" as *;
@use "styles/common" as *;

.Users {
    background-color: var(--secondary-bg-color);
    min-height: 100vh;

    @include mobile {
        margin-left: unset;
        width: 100%;
    }
    & > .details {
        padding: var(--large-padding);
        background-color: var(--secondary-bg-color);
        border-bottom: 1px dotted var(--main-text-color);
        position: relative;
        height: var(--details-height);
        &.clickable {
            cursor: pointer;
        }
        & .image-wrapper {
            position: relative;
            & svg {
                position: absolute;
                top: -5px;
                right: -10px;
                width: 15px;
                height: 15px;
                fill: var(--blue-text-color);
            }
        }

        &.active {
            background-color: var(--main-bg-color);
            &::after {
                position: absolute;
                top: 0;
                display: block;
                width: 10px;
                height: 100%;
                right: 0;
                background-color: var(--main-nav-bg-color);
                content: "";
            }
        }
        &:hover img {
            transform: scale(1.1);
        }

        & > .content {
            display: flex;
            justify-content: start;
            position: relative;
            align-items: center;
            & .text--content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 12px;
                height: 40px;
                & h2 {
                    font-weight: 700;
                }
                & .last--message {
                    @extend .cut-string240;
                    color: var(--main-text-color);
                }
            }
            .last-comment {
                @extend .flexRowVerticallyCentered;
                right: 0;
                position: absolute;
                width: 70px;
                height: 30px;
                background-color: var(--main-bg-color);
                border-radius: 30px;
                padding: 6px;
                color: var(--main-text-color);
                font-size: 12px;
            }
        }
    }

    .users--search-wrapper {
        @extend .withDottedBottomBorder;
        height: var(--users-search-wrapper-height);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        & > .users--search {
            @extend .text-input;
            width: 320px;
            height: var(--users-search-height);
            display: flex;
            position: relative;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.6;
            background-color: var(--main-bg-color);
            width: 320px;

            & > input {
                flex-grow: 1;
                width: 100%;
                border: none;
                outline: none;
            }

            & .button.button--reset {
                & > svg {
                    @extend .form__svg;
                    padding-right: 14px;
                    padding-left: 14px;
                }
            }

            & .button.button--search {
                & > svg {
                    @extend .form__svg;
                }
            }
        }
    }
}
