@use "./variables";

#root {
    width: 100vw;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

.circular--square {
    border-radius: 50%;
    position: relative;
}

body {
    height: 100vh;
    width: 100vw;
}

.clickable {
    cursor: pointer;
}

input,
select,
textarea {
    color: var(--main-text-color);
    font-size: 16px;
}

.withDottedBottomBorder {
    border-bottom: 1px dotted var(--main-text-color);
}
.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.flexRowVerticallyCentered {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexRowCentered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heavy {
    font-weight: 800;
}
.blueText {
    color: var(--blue-text-color);
}
.withGreyBorder {
    border: 1px solid var(--secondary-bg-color);
}

.withGreySideBorders {
    border-left: 1px solid var(--secondary-bg-color);
    border-right: 1px solid var(--secondary-bg-color);
}

.withGreyText {
    color: var(--main-text-color);
}

.upperCase {
    text-transform: uppercase;
}

.withDottedBorder {
    border-bottom: 1px dotted var(--main-text-color);
}

* {
    box-sizing: border-box;
}

.form__svg {
    width: 20px;
    height: 20px;
    padding-left: 14px;
    box-sizing: initial;
    fill: #767676;
    transition: fill 0.1s ease-in-out;
}
.social__svg {
    width: 20px;
    height: 20px;
    fill: var(--blue-text-color);
    box-sizing: initial;
}

.svg {
    padding-right: 14px;
    padding-left: 14px;
    width: 36px;
    height: 36px;
    box-sizing: initial;
}

.cut-string240 {
    width: 240px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-wrapper {
    position: relative;

    &.online {
        &::after {
            content: "";
            position: absolute;
            bottom: 15%;
            right: 0%;
            width: 12px;
            height: 12px;
            background-color: #8dd7a6;
            border-radius: 6px;
        }
    }
}

.button-usual {
    border: none;
    padding: 0;
    background-color: initial;
    text-align: inherit;
    cursor: pointer;
    &:disabled {
        cursor: none;
    }

    &--flexy {
        @extend .button-usual;
        display: flex;
        align-items: center;
    }
}
