:root {
    --main-bg-color: #ffffff;
    --secondary-bg-color: #f5f7fd;
    --main-nav-bg-color: #425daa;
    --active-nav-bg-color: #758ecf;
    --nav-icon-color: #9cb1f2;
    --nav-border-color: #4667b4;
    --main-textfield-color: #f6f6f6;
    //--secondary-textfield-color: #e2eefc;
    --blue-text-color: #007fc5;
    --main-text-color: #757575;
    --bold-text-color: #413d3e;
    --font-larger: 18px;
    --large-padding: 24px;
    --nav-width: 80px;
    --users-search-height: 45px;
    --users-search-wrapper-height: 80px;
    --user-baloon-color: #e2dbdb;
    --host-baloon-color: #dee5fb;
}
