@use "styles/mixins" as *;

.App {
    // display: grid;
    // grid-template-columns: var(--nav-width) auto;
    // grid-auto-rows: 1fr;

    @include mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.all-but-nav {
    display: grid;
    grid-template-columns: 360px auto 300px;
    grid-auto-rows: 1fr;
    width: calc(100vw - var(--nav-width));
    margin-left: var(--nav-width);
    @include mobile {
        margin-left: unset;
        display: block;
        margin-top: var(--nav-width);
    }
}
