@use "styles/variables" as *;
@use "styles/common" as *;

.users--search-wrapper {
    @extend .withDottedBottomBorder;
    height: var(--users-search-wrapper-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users--search {
    height: var(--users-search-height);
    display: flex;
    position: relative;
    transition: all 0.1s ease-in-out;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    width: 320px;
    background-color: var(--main-bg-color);
    border-radius: 30px;
    padding: 6px;
}

.form__button {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    background-color: initial;
    text-align: inherit;
    cursor: pointer;
}

.form__input {
    padding-left: 14px;
    flex-grow: 1;
    width: 100%;
    background: none;
    border: none;
    outline: none;
}

.form__input-clear {
    border: none;
    padding: 0;
    background-color: initial;
    text-align: inherit;
    cursor: pointer;
}

.form__input-clear-svg {
    padding-right: 14px;
    padding-left: 14px;

    width: 20px;
    height: 20px;

    box-sizing: initial;
    fill: #767676;
    transition: fill 0.1s ease-in-out;
}
